# Ignore Mac system files
.DS_Store

# Ignore Python Backend bloat & secrets
backend/.venv/
backend/__pycache__/
backend/*.db
backend/.env

# Ignore Node Frontend bloat
frontend/node_modules/
frontend/.next/
frontend/out/